// Specific CSS for your home-page
// #EB455F red
// #FCFFE7 white
// #BAD7E9 light blue
// #2B3467 dark blue

.home--subheading {
  text-align: center;
  color: #2B3467;
  margin: 4rem auto;
  font-weight: 600;
  font-size: 3rem;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.dummy--spacer {
  height: 8rem;
}
