// Import page-specific CSS files here.
@import "home";
// @import "show";
// @import "new";
// @import "listingCard";

.grid-index{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}
