// #EB455F
// #2B3467
// border-radius: 12px;
// box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
// .listing--show--parent {
//   position: relative;
// }

.main--card--review {
  position: absolute;
  left: 34%;
  bottom:-15px;
  border: 1px solid #2B3467;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 1rem;
  width: 70vw;
  background-color: rgb(237, 237, 237);

}

.main--card--review span {
  color: #EB455F;
  font-weight: 600;
}

.main--card--review p {
  max-width: 86%;
}

.review--close--button {
  float:right; clear:right;
  text-align: center;
  padding: 0.2rem;
  color: rgb(190, 190, 190);
  border-radius: 12px;
  border: 1px solid rgb(190, 190, 190);
  transition: 0.4s;
  margin: 0;
  width: 4rem;
}

.review--close--button:hover {
  color: #e98896;
  border: 1px solid #e98896;
  cursor: pointer;
}

.display--none {
  display: none;
}

.review--line:hover {
  cursor: pointer;
}
