// #EB455F
// #2B3467
// border-radius: 12px;
// box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
// .listing--show--parent {
//   position: relative;
// }

.background-fader {
  width: 100vw;
  height: 1300px;
  background-color: rgba(0, 0, 0, 0.501);
  z-index: 5;
  position: absolute;
  top: 0;
  right: 0;
}

.main--card--review {
  position: absolute;
  left: 18%;
  bottom:-1.3%;
  // transform: translate(-50%, -50%);
  border: 1px solid #2B3467;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 2.5rem 2rem;
  margin: 1rem;
  width: 70vw;
  background-color: rgb(237, 237, 237);
  z-index: 10;

}

.main--card--review span {
  color: #EB455F;
  font-weight: 600;
}

.main--card--review p {
  max-width: 86%;
}

.review--close--button {
  float:right; clear:right;
  text-align: center;
  padding: 0.2rem;
  color: rgb(190, 190, 190);
  border-radius: 12px;
  border: 1px solid rgb(190, 190, 190);
  transition: 0.4s;
  margin: 0;
  width: 4rem;
}

.review--close--button:hover {
  color: #e98896;
  border: 1px solid #e98896;
  cursor: pointer;
}

.display--none {
  display: none;
}

.review--line:hover {
  cursor: pointer;
}

.booking_background{
  background-color:#eb455ecb;
}

.booking--card{
  background-color: rgb(237, 237, 237);
}

.bookings--container{
  padding-top: 2rem;
}
