<div class="card-container">
  <div class="card-trip m-1">
    <div class = "card-image">
      <img src="<%= listing.image %>" style="width: 240px; height: 180px" />
    </div>
    <%# <div class = "card-heart">
      <i class="fa-regular fa-heart"></i>
    </div> %>
    <div class='card--bottom--section'>
      <div class="card-trip-infos">
          <h3 class="card--title"><%= listing.title %></h3>
          <p><%= listing.description %></p>
      </div>
      <div class="card-trip-pricing">
        <h3>€<%= listing.price %></h3>
      </div>
    </div>
  </div>
</div>
