<div id="carouselSlides" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
     <%= image_tag('amsterdam1.png', class: "d-block w-100") %>
    </div>

    <div class="carousel-item">
       <%= image_tag('lisbon2.jpg', class: "d-block w-100") %>
    </div>

    <div class="carousel-item">
      <%= image_tag('paris.jpg', class: "d-block w-100") %>
    </div>
  </div>
</div>
