<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
     <%= image_tag('amsterdam.jpg', class: "d-block w-100 vh-50") %>
     <div class="carousel-caption d-none d-md-block" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <h1><strong>Find the perfect accomodation</strong></h1>
        <h4>Based on previous students reviews.</h4>
      </div>
    </div>
    <div class="carousel-item">
       <%= image_tag('lisbon.jpg', class: "d-block w-100 vh-50") %>
       <div class="carousel-caption d-none d-md-block" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <h1><strong>Find the perfect accomodation</strong></h1>
        <h4>Based on previous students reviews.</h4>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag('paris.jpg', class: "d-block w-100 vh-50") %>
      <div class="carousel-caption d-none d-md-block" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <h1><strong>Find the perfect accomodation</strong></h1>
        <h4>Based on previous students reviews.</h4>
      </div>
    </div>
  </div>
</div>
