<div class='number-circle'>
  <div class='flex-test'>
    <div class='circle'>1</div>
    <hr class='line'>
    <div class='circle'>2</div>
    <hr class='line'>
    <div class='circle'>3</div>
    <hr class='line'>
    <div class='circle'>4</div>
  </div>
</div>
<div class='in--container'>
  <div class='text--box'>
    <p>Get real students feedback on accommodation and know what to expect.</p>
    <p>Make your bookings with an informed decision.</p>
    <p>Enjoy the bootcamp. Enjoy the stay.</p>
    <p>Leave a review for the next students.</p>
  </div>
</div>
