<div class="circle-container">
  <div class="circle active"><span>1</span></div>
  <div class="line"></div>
  <div class="circle"><span>2</span></div>
  <div class="line"></div>
  <div class="circle"><span>3</span></div>
  <div class="line"></div>
  <div class="circle"><span>4</span></div>
</div>
