<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path("amsterdam1.png") %>');">
  <div class="container circle-box">
    <h1>Find the perfect accommodation</h1>
    <p>Based on previous students reviews.</p>
    <a class="btn btn-flat" href="#">Find a place now</a>
  </div>
</div>
