                    <div class="d-flex justify-content-between">
                          <div class="arrival"> 
                                <h3>Commute Options</h3>
                                <p><i class="fa-solid fa-bus"></i><strong>Bus</strong><br>
                                 Connexxion 160 - 162 .</p>
                                <p><i class="fa-solid fa-train"></i> <strong>Train</strong><br>
                                 Not Applicable</p>
                                <p><i class="fa-solid fa-train-tram"></i> <strong>Tram</strong><br>
                                Not Applicable</p>
                                <p><i class="fa-solid fa-bicycle"></i> <strong>Bike</strong><br>
                                Not Applicable</p>
                          </div>
                    </div>


                    