// #EB455F red
// #FCFFE7 white
// #BAD7E9 light blue
// #2B3467 dark blue

.bookings--container {
  display: flex;
  flex-wrap: wrap;
  // max-width: 62vw;
  // padding: 0 6rem;
  justify-content: space-between;
  row-gap: 2rem;
  width: 60%;
}

.bookings--header {
  text-align: center;
  margin: 2rem auto;
  color: #EB455F;
}

.bookings-subheader {
  width: 100%;
  text-align: center;
  background-color: #2B3467;
  color: #EB455F;
  padding: 1rem 0;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.booking--card {
  display: flex;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 12px;
  gap: 1rem;
  max-width: 30rem;

}

.booking--card--rightside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.booking--details {
  padding: 1rem 2rem 1rem 1rem;
  color: #2B3467;
}

.booking--details p {
}

.bookings-buttons {
  display: flex;
}
