// #EB455F red
// #FCFFE7 white
// #BAD7E9 light blue
// #2B3467 dark blue

.bookings--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2rem;
  width: 60%;
}

.bookings--header {
  text-align: center;
  margin: 2rem auto;
  color: #EB455F;
}

.bookings-subheader {
  width: 100%;
  text-align: center;
  border: 2px solid #EB455F;
  background-color: #FCFFE7;
  color: #2B3467;
  padding: 1rem 0;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.booking--card {
  display: flex;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 12px;
  height: 22rem;
  max-width: 40rem;
  position: relative;
  justify-content: start;
  max-height: 22rem;
  padding: 0 0.5rem;
}

.booking--card--rightside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.booking--details {
  padding: 3rem 2rem 1rem 1rem;
  color: #2B3467;
  text-align: center;
}

.bookings-buttons {
  display: flex;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

#booking_start_date_1i{
  background-image: none;
  padding-right:0%;
}

#booking_start_date_2i{
  background-image: none;
  padding-right:0%;
}

#booking_start_date_3i{
  background-image: none;
  padding-right:0%;
}

#booking_end_date_1i{
  background-image: none;
  padding-right:0%;
}

#booking_end_date_2i{
  background-image: none;
  padding-right:0%;
}

#booking_end_date_3i{
  background-image: none;
  padding-right:0%;
}

.form-select.is-valid{
  border-color:grey;
}

.btn-secondary{
  background-color: #EB455F;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  font-weight: bold;
}

.btn-secondary:hover {
  background: #2B3467;
  font-weight: bold;
}

.total--price {
  font-weight: bold;
  font-size: 1.4rem;
  color: #2B3467;
  margin: 0;
}

#btn-booking-price-book {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
