// #EB455F red
// #FCFFE7 white
// #BAD7E9 light blue
// #2B3467 dark blue

// #message-{
// margin-left: auto;
// }

#message_content{
  border-radius: 10px;
  width: 1000px;
  height: 40px;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: #FCFFE7;
  // padding: 8px 24px;
  // border-radius: 4px;
  background: #EB455F;
  transition: 0.3s ease;
  font-weight: 500;
  border-radius: 10px;
  width: 200px;
  height: 40px;
}

.btn-flat:hover {
  background: #2B3467;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

#btn--review {
  color: #FCFFE7;
  background: #EB455F;
  transition: 0.3s ease;
  font-weight: 500;
  line-height: 16px;
  border-radius: 10px;
  width: 50%;
  padding: 7px;
}

#btn--delete {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 7px;
  border-radius: 10px;
  width: 50%;
  // font-weight: lighter;
  line-height: 16px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.btn-review {
  color: #FCFFE7;
  // padding: 8px 24px;
  // border-radius: 4px;
  background: #EB455F;
  transition: 0.3s ease;
  font-weight: 500;
  border-radius: 10px;
}

.btn-review:hover {
  background: #2B3467;
  color: white;
}
