// .notification-content{
//   width: 50%;
// }

// .chatroom-container {
// border-radius: 16px;
// }

.chatbox{
  overflow-y: scroll;
}

.form-control{
  border-radius: 10px;
}

.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  border-radius: 16px;
}

  h2 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    // padding: 1rem;
    color: #EB455F;
    text-align: center;
  }

  .messages {
    height: 75%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
