// #EB455F red
// #FCFFE7 white
// #BAD7E9 light blue
// #2B3467 dark blue

.flex-test {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.circle {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #FCFFE7;
  background-color: #EB455F ;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.line {
  display: inline-block;
  width: 16rem;
}

.number-circle {
  margin-top: 20px;
  width: 80vw;
  margin: 0 auto;
  margin-top: 40px;
}

.text--box {
  display: flex;
  justify-content: space-between;
}

.text--box p {
  width: 150px;
  text-align: center;
  margin: auto;
}
