// #EB455F red
// #FCFFE7 white
// #BAD7E9 light blue
// #2B3467 dark blue

// Date Picker
.flex-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 90px;
  margin-right: 90px;
  // width: 200px;
  height: 40px;
  // justify-content: center;
  align-items: center;
  input{
    text-align: center;
  }
}

#checkin-date, #checkout-date {
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 40px;
}

// Dropdown menu
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 40px;
  background-color: #EB455F;
  color: #FCFFE7;
  cursor: pointer;
}

.dropdown-content, .dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  text-align: center;
}

.dropdown-content a {
  color: #2B3467;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #2B3467;
  color: #FCFFE7;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-button {
  background-color: #EB455F;
}


// Search form
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form input[type="text"] {
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 40px;
}

.search-form button[type="submit"] {
  margin-left: -40px;
  border-radius: 10px;
  background-color: #EB455F;
  border: none;
  color: #FCFFE7;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.search-form button[type="submit"]:hover {
  background-color: #2B3467;
  cursor: pointer;
}
