// #EB455F red
// #FCFFE7 white
// #BAD7E9 light blue
// #2B3467 dark blue

// Date Picker
.flex-container {
  margin-top: 50px;
  margin-bottom: 50px;
  // height: 40px;
  input{
    text-align: center;
  }
}

#checkin_date, #checkout_date, #city {
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 40px;
}

// Search form
.city {
  display: flex;
  align-items: center;
  justify-content: center;
}

.city input[type="text"] {
  border-radius: 10px;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 40px;
}

#button[type="submit"] {
  border-radius: 10px;
  background-color: #EB455F;
  border: none;
  color: #FCFFE7;
  width: 200px;
  height: 40px;
  transition: background-color 0.3s ease;
}

#button[type="submit"]:hover {
  background-color: #2B3467;
  cursor: pointer;
}
