.round-image{
  border-radius: 12px;
}

.card--title--show{
  font-size: 22px;
  font-weight: bold;
  // padding: 0 12px;
  color: #EB455F;
  font-family: 'Oswald', sans-serif;
  padding-top: 8px;
}

.d-flex{
  gap: .8rem;

}
