// #EB455F red
// #FCFFE7 white
// #BAD7E9 light blue
// #2B3467 dark blue

.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

#message_content{
  border-radius: 16px;
  height: 40px;
}

.sender-box{
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 83%;
  border-radius: 16px;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 30rem;
  border-radius: 16px;
  padding: 8px;
  min-height: 80px;
  font-weight: bold;
}

.sender-style {
  background-color: lightcoral;
  align-self: flex-end;
}

.receiver-style {
  background-color: #BAD7E9;
}
