// #EB455F red
// #FCFFE7 white
// #BAD7E9 light blue
// #2B3467 dark blue
.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-weight: bold;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  height: 20px;
}

.nav-link {
  color: #EB455F;
  font-family: 'Mukta', sans-serif;
}

.nav-link:hover {
  color: #2B3467;
}

.dropdown-item {
  color: #EB455F;
  font-weight: bold;
  font-family: 'Mukta', sans-serif;
}
